{% load static %}
<!-- This is the card component -->
<!-- This can be reusable and can be customized with its own CSS file -->
<link rel="stylesheet" href="{% static 'css/usercard.css' %}" />
<div class="card">
  <div class="profile-card">
    <div class="image">
      <img src="{{ user.profile_pic.url }}" alt="Profile Picture" class="profile-img">
    </div>
    <div class="text-data">
      <span class="barangayposition">{{ user.barangay_position }}</span>
      <span class="barangayname">{{ user.first_name }} {{ user.middle_name }}. {{ user.last_name }}</span>
    </div>
    <div class="userbuttons">
      <a href="{% url 'profile_page' %}" class="userprofilebutton">Edit Profile</a>
    </div>
  </div>
</div>
