@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "sass.scss";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* color: var(--second-color); */
    font-family: var(--body-font);
    background-color: var(--gray-soft);
    /* height: 2000px; */
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

/* UTILITIES */
.btn {
    border-radius: 4px;
    padding: 12px 32px;
    /* border: 1px solid black; */
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}